body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  color: white;
}

.navbar ion-icon {
  width: 30px;
  height: 30px;
  padding: 0;
}

.navbar h2 {
  font-size: 30px;
  padding-bottom: 5px;
  text-decoration: underline 2px;
}

.navbar h2:hover {
  text-decoration: underline 2px;
}

.formulario {
  font-style: italic;
  font-weight: bold;
}
